@media screen and (min-width: 1200px) {
  .container {
    width: 1128px;
  }

  /*==================================heder====================================*/
  .contact-list {
    flex-direction: row;
  }

  .contact-mail {
    display: block;
    margin-right: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .contact-tel {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  /*==================================heder====================================*/
  /*==================================hero====================================*/

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/hiro-desktop.jpg);
  }

  .main-title {
    margin-bottom: 48px;
  }
  /*==================================hero====================================*/
  /*===========================activity-company================================*/


  /*===========================activity-company================================*/
}
