
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    background-color: rgb(238, 220, 220);
  }


  /*==================================heder====================================*/
  .contact-list {
    flex-direction: row;
  }

  .contact-mail {
    display: block;
    margin-right: 40px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .contact-tel {
    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
  }
  /*==================================heder====================================*/
}
