
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobaile-addr_link-tel{
    font-size: 36px; 
  }
  /*=================================modal window==========================*/
  .modal{
    width: 392px;
  }
  /*=================================modal window==========================*/
}


