/*768-<*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobaile-menu-open {
    display: none;
  }

  .mobaile-menu {
    display: none;
  }

  /*==================================heder====================================*/

  .nav,
  .nav-list {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 123px;
  }

  .nav-list {
    gap: 40px;
  }

  .nav-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--secondari-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .active::after {
    position: absolute;
    bottom: 0px;
    transform: translateY(100%);
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contact-list {
    display: flex;
    align-items: center;
  }

  .contact-mail {
    font-style: normal;
    color: inherit;

    transition: color var(--transition-dur-and-func);
  }

  .contact-tel {
    font-style: normal;
    color: inherit;

    transition: color var(--transition-dur-and-func);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contact-mail:hover,
  .contact-mail:focus,
  .contact-tel:hover,
  .contact-tel:focus {
    color: var(--Primary-brand-accent);
  }
  /*==================================heder====================================*/
  /*==================================hero====================================*/
  .main-title {
    font-size: 56px;
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background-color: var(--Primary-brand-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  /*==================================hero====================================*/
  /*===========================activity-company================================*/
  .activity-company-list {
    column-gap: 24px;
  }
  .activity-company-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  /*===========================activity-company================================*/

  /*=============================team======================================*/
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
  }
  /*=============================team======================================*/
  /*==================================customers==============================*/
  .customers-list {
    column-gap: 24px;
  }
  /*==================================customers==============================*/
  /*==================================footer==============================*/

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: baseline;
  }

  .container-logo,
  .social-media,
  .footer-form {
    align-items: flex-start;
  }

  .footer-form {
    flex-direction: column;
  }

  .footer-input-container {
    flex-direction: row;
    column-gap: 24px;
  }
  .footer-form-input {
    width: 264px;
  }
  /*==================================footer==============================*/
  /*=================================modal window==========================*/
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
  /*=================================modal window==========================*/
}

/*================================0-1200px=========*/
/*heder*/
@media screen and (max-width: 1158px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  /*heder*/
  .logo {
    line-height: 1.16;
  }
  /*hiro*/
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  /*activity-company*/
  .activity-company-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
  }

  .activity-company-text {
    font-weight: 500;
  }

  .company-icon-box {
    display: none;
  }
  /*work*/
  .our-work {
    display: none;
  }
  /*customers*/
  .customers-list {
    row-gap: 72px;
  }
  /*footer*/
  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/*=================768px-1200px*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /*heder*/
  .contact-list {
    flex-direction: column;
    column-gap: 4px;
  }
  /*hero*/
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/hero/tablet-hiro.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/tablet-hiro-2x.jpg);
    }
  }
  .main-title {
    margin-bottom: 40px;
  }

  /*footer*/
  .container-logo,
  .footer-form {
    margin-left: 92px;
  }
}
